*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(223,223,223);
}
header{
	height: 40px;
	line-height: 40px;
	color: white;
	font-size: 18px;
	background-color: rgb(102,102,102);
	padding-left: 15px;
}
#container{
	background-color: white;
	width: 80%;
	min-width: 800px;
	margin: auto;
	margin-top: 15px;
	height: 828px;
	padding-top: 14px;
}
.top_table{
	width: 100%;
	margin-left: 8px;
}
.top_table td{
	padding: 5px;
	width: 50%;
	font-size: 13px;
}
.searchFiled{
	width:723px;
	height: 30px;
	border: 1px solid rgb(203,203,203);
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgb(203,203,203) inset;
	margin-top: 3px;
}
#order_select{
	width: 723px;
	height: 30px;
	border: 1px solid rgb(203,203,203);
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgb(203,203,203) inset;
	margin-top: 3px;
	padding-left: 10px;
	font-size: 15px;
}
.addNew{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-top: 18px;
	margin-left: 16px;
	background-color: rgb(0,120,231);
	color: white;
	padding-left: 14px;
	border-radius: 3px;
	text-decoration: none;
	font-size: 14px;
}
.listTable{
	width: 1480px;
	margin: auto;
	border: 1px solid rgb(203,203,203);
	border-collapse: collapse;
	margin-top: 15px;
	font-size: 14px;
}
.listTable td{
	border-top: 1px solid rgb(203,203,203);
	height: 50px;
}
.listTable img{
	height: 75%;
	margin-left: 13px;
}
.listTable th{
	height: 30px;
	background-color: rgb(224,224,224);
	text-align: left;
	font-size: 14px;
}

.add{
	width: 74%;
	font-size: 15px;
	margin: auto;
	padding-bottom: 5px;
	padding-top: 30px;
	border-bottom: 1px solid rgb(229,229,229);
	margin-top: -25px;
}
.addInfo{
	width: 80%;
	margin-left: 20%;
	margin-top: 30px;
}
.addControl input,.addControl select{
	width: 201px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid rgb(204,204,204);
}
.addControl{
	margin-bottom: 13px;
}
.addControl .file{
	border: none;
}
.detail{
	text-align: center;
}
.detail div{
	line-height: 28px;
	font-size: 15px;
}
.detail #det_1{
	font-weight: bold;
	font-size: 17px;
}
.detail #det_2{
	width: 58px;
	height: 30px;
	border:none;
	background-color: rgb(0,120,231);
	font-size: 14px;
	color: white;
	border-radius: 3px;
}
.detail #det_3{
	width: 58px;
	height: 30px;
	border:none;
	background-color: rgb(230,230,230);
	font-size: 14px;
	color: rgb(46,46,46);
	border-radius: 3px;
}
